# Generic VSCode Files.
/__pycache__
/.vscode

/.venv
/sim_build

# Organization Helper Files.
/code_to_txt.py
/combined_code.txt

# Extra Documents.
/Aircraft_Engine_Project_Plan.pdf

# Extra Directories.
/Diagrams

# Outputs / Results.
/software_results.csv